@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'HSJiptokki-Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LeeSeoyun', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HSJiptokki-Black', sans-serif;
}

/* 여기에 추가적인 전역 스타일을 정의할 수 있습니다 */
.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-neon-pink via-electric-blue to-acid-green;
  animation: hue-rotate 6s infinite linear;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.btn-primary {
  @apply bg-purple-haze text-white py-2 px-4 rounded transition duration-300 ease-in-out;
  text-shadow: 0 0 5px rgba(255,255,255,0.7);
  box-shadow: 0 0 10px rgba(138,43,226,0.7);
}

.btn-primary:hover {
  @apply bg-neon-pink transform -translate-y-1;
  box-shadow: 0 5px 15px rgba(255,110,199,0.7);
}

.section-divider {
  @apply h-1 bg-gradient-to-r from-neon-pink via-electric-blue to-acid-green my-8;
}